contourpy==1.1.1
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
fonttools==4.50.0
importlib_resources==6.4.0
JSBSim==1.2.0
kiwisolver==1.4.5
matplotlib==3.7.5
numpy==1.24.4
packaging==24.0
pillow==10.3.0
# pkg_resources==0.0.0
py-trees==0.8.3
pydot==2.0.0
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.9.0.post0
pyzmq==25.1.2
six==1.16.0
zipp==3.18.1
rerun-sdk==0.16.1
zmq-requests @ git+https://github.com/LucasHarim/zmq-requests@main